@use '@ecl/theme-ec/theme' as theme;
@use '@ecl/theme-ec/variables' as var;
@use '@ecl/grid/grid' with (
  $theme: theme.$theme
);
@use '@ecl/button/button' with (
  $theme: theme.$theme,
  $button: var.$button
);

:host {
  display: contents;
}

.ecl-button--has-label ::slotted([slot='icon-before']) {
  margin-inline-end: var(--s-xs);
  line-height: 0;
}

.ecl-button--has-label ::slotted([slot='icon-after']) {
  margin-inline-start: var(--s-xs);
  line-height: 0;
}

.ecl-u-sr-only {
  clip: rect(0, 0, 0, 0) !important;
  border: 0 !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}
