@use '@ecl/theme-ec/theme' as theme;
@use '@ecl/theme-ec/variables' as var;
@use '@ecl/grid/grid' with (
  $theme: theme.$theme
);
@use '@ecl/button/button' with (
  $theme: theme.$theme,
  $button: var.$button
);

:host {
  display: contents;
}

.ecl-button--has-label ::slotted([slot='icon-before']) {
  margin-inline-end: var(--s-xs);
  line-height: 0;
}

.ecl-button--has-label ::slotted([slot='icon-after']) {
  margin-inline-start: var(--s-xs);
  line-height: 0;
}
