@use '@ecl/theme-ec';

@use '@ecl/vanilla-component-link/link-ec';
@use '@ecl/vanilla-component-button/button-ec';

.ecl-button .ecl-icon {
  vertical-align: text-top;
}

.ecl-button__icon--after,
.ecl-button__icon--after:only-child {
  margin-inline-start: 0.5rem !important;
}

.ecl-button__icon--before,
.ecl-button__icon--before:only-child {
  margin-inline-end: 0.5rem !important;
}
