@use '@ecl/theme-ec/theme' as theme;
@use '@ecl/theme-ec/variables' as var;
@use '@ecl/grid/grid' with (
  $theme: theme.$theme
);
@use '@ecl/blockquote/blockquote' with (
  $theme: theme.$theme,
  $blockquote: var.$blockquote
);
