@use '@ecl/theme-eu/theme' as theme;
@use '@ecl/theme-eu/variables' as var;
@use '@ecl/grid/grid' with (
  $theme: theme.$theme
);
@use '@ecl/blockquote/blockquote' with (
  $theme: theme.$theme,
  $blockquote: var.$blockquote
);
