@use '@ecl/theme-ec/theme' as theme;
@use '@ecl/theme-ec/variables' as var;
@use '@ecl/grid/grid' with (
  $theme: theme.$theme
);
@use '@ecl/news-ticker/news-ticker' with (
  $theme: theme.$theme,
  $news-ticker: var.$news-ticker
);
