@use '@ecl/theme-ec/theme' as theme;
@use '@ecl/theme-ec/variables' as var;
@use '@ecl/grid/grid' with (
  $theme: theme.$theme
);
@use '@ecl/mixins-typography/mixins' with (
  $theme: theme.$theme,
  $typography: var.$typography
);
@use '@ecl/link/link' with (
  $theme: theme.$theme,
  $link: var.$link,
  $button: var.$button
);
@use '@ecl/featured-item/featured-item' with (
  $theme: theme.$theme,
  $featured-item: var.$featured-item
);

.ecl-featured-item--dynamic .ecl-featured-item__item:last-child {
  .ecl-media-container,
  ecl-media-container {
    display: flex;
    flex-grow: 1;
  }

  picture {
    height: 100%;
    flex-grow: 1;
  }

  *,
  .ecl-media-container__picture,
  .ecl-media-container__media {
    height: 100%;
  }
}
