@use '@ecl/theme-ec/theme' as theme;
@use '@ecl/theme-ec/variables' as var;
@use '@ecl/grid/grid' with (
  $theme: theme.$theme
);
@use '@ecl/mixins-typography/mixins' with (
  $theme: theme.$theme,
  $typography: var.$typography
);
@use '@ecl/icon/icon' with (
  $theme: theme.$theme
);
@use '@ecl/link/link' with (
  $theme: theme.$theme,
  $link: var.$link,
  $button: var.$button
);
@use '@ecl/label/label' with (
  $theme: theme.$theme,
  $label: var.$label
);
@use '@ecl/description-list/description-list' with (
  $theme: theme.$theme,
  $description-list: var.$description-list
);
@use '@ecl/content-block/content-block' with (
  $theme: theme.$theme,
  $content-block: var.$content-block
);

.ecl-content-block__secondary-meta-icon.sc-ecl-content-block-ec {
  margin-inline-end: 0.5rem;
}

.ecl-content-block__link-list * {
  display: block;
}
