@use '@ecl/theme-eu/theme' as theme;
@use '@ecl/theme-eu/variables' as var;
@use '@ecl/grid/grid' with (
  $theme: theme.$theme
);
@use '@ecl/mixins-typography/mixins' as typographyMixins with (
  $typography: var.$typography
);
@use '@ecl/button/button' with (
  $theme: theme.$theme,
  $button: var.$button
);
@use '@ecl/site-header/site-header-eu' with (
  $theme: theme.$theme,
  $site-header: var.$site-header,
  $language-list: var.$language-list
);

ecl-form-group {
  display: flex;
}

.ecl-site-header__search:not(.ecl-site-header__search--active) {
  display: none;
}

.ecl-site-header__language-icon.sc-ecl-site-header-eu {
  flex-direction: column;
}

@media (width >= 996px) {
  .ecl-site-header__language-icon.sc-ecl-site-header-eu {
    flex-direction: row;
  }
}

.ecl-site-header__language-icon,
.ecl-site-header__login-toggle {
  ecl-icon {
    display: flex;
  }
}

.ecl-site-header__action {
  align-items: center;
}

.ecl-mega-menu[data-expanded] .ecl-mega-menu__open ::slotted([slot='icon-before']),
.ecl-menu[data-expanded] .ecl-menu__open ::slotted([slot='icon-before']) {
  display: none;
}
