@use '@ecl/theme-ec/theme' as theme;
@use '@ecl/theme-ec/variables' as var;
@use '@ecl/grid/grid' with (
  $theme: theme.$theme
);
@use '@ecl/mixins-typography/mixins' as typographyMixins with (
  $typography: var.$typography
);
@use '@ecl/button/button' with (
  $theme: theme.$theme,
  $button: var.$button
);
@use '@ecl/site-header/site-header-ec' with (
  $theme: theme.$theme,
  $site-header: var.$site-header,
  $language-list: var.$language-list
);

.ecl-site-header__search:not(.ecl-site-header__search--active) {
  display: none;
}

.ecl-search-form.ecl-site-header__search {
  position: absolute;
}

@media (width >= 1140px) {
  .ecl-search-form.ecl-site-header__search {
    display: flex;
    position: relative;
  }
}

.ecl-site-header__language-icon.sc-ecl-site-header-ec {
  flex-direction: column;
}

@media (width >= 1140px) {
  .ecl-site-header__language-icon.sc-ecl-site-header-ec {
    flex-direction: row;
  }
}

.ecl-site-header__language-code.sc-ecl-site-header-ec {
  top: 28%;
  left: 38%;
}

@media (width >= 996px) {
  .ecl-site-header__language-code.sc-ecl-site-header-ec {
    top: 45%;
    left: 18%;
  }
}

.ecl-site-header__language-icon,
.ecl-site-header__login-toggle {
  ecl-icon {
    display: flex;
  }
}

.ecl-site-header__action {
  align-items: center;
}

.ecl-search-form__button {
  border-color: var(--cm-on-surface-brand) !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-inline-start: none !important;
  border-width: 1px;
}
