@use '@ecl/theme-ec';

@use '@ecl/vanilla-component-carousel/carousel-ec';

.ecl-u-sr-only.sc-ecl-carousel-ec {
  clip: rect(0, 0, 0, 0) !important;
  border: 0 !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}
