@use '@ecl/theme-ec/theme' as theme;
@use '@ecl/theme-ec/variables' as var;
@use '@ecl/grid/grid' with (
  $theme: theme.$theme
);
@use '@ecl/carousel/carousel' with (
  $theme: theme.$theme,
  $carousel: var.$carousel
);

.ecl-carousel__navigation-item.sc-ecl-carousel-ec:last-child {
  margin-inline-end: var(--s-xs);
}
