@use '@ecl/theme-ec/theme' as theme;
@use '@ecl/theme-ec/variables' as var;
@use '@ecl/grid/grid' with (
  $theme: theme.$theme
);
@use '@ecl/mixins-typography/mixins' with (
  $theme: theme.$theme,
  $typography: var.$typography
);
@use '@ecl/add-to-calendar/add-to-calendar' with (
  $theme: theme.$theme,
  $add-to-calendar: var.$add-to-calendar
);

ecl-icon {
  display: flex;
}
