@use '@ecl/theme-ec/theme' as theme;
@use '@ecl/theme-ec/variables' as var;
@use '@ecl/grid/mixins/breakpoints' with (
  $theme: theme.$theme
);
@use '@ecl/mixins-typography/mixins' as typographyMixins with (
  $theme: theme.$theme,
  $typography: var.$typography
);
@use '@ecl/button/button' with (
  $button: var.$button,
  $theme: theme.$theme
);
@use '@ecl/file-upload/file-upload' with (
  $button: var.$button,
  $theme: theme.$theme,
  $file-upload: var.$file-upload
);

.ecl-file-upload__button-container {
  margin-top: 0.75rem;
}
