@use '@ecl/theme-ec/theme' as theme;
@use '@ecl/theme-ec/variables' as var;
@use '@ecl/button/button' with (
  $theme: theme.$theme,
  $button: var.$button
);
@use '@ecl/link/link' with (
  $theme: theme.$theme,
  $link: var.$link,
  $button: var.$button
);

.ecl-link--icon-only {
  .ecl-link__icon-container {
    display: inline-block;
  }

  ::slotted([slot^='icon-']) {
    display: flex;
  }
}

:host .ecl-link:not(.ecl-link--icon-only) ::slotted(ecl-icon[slot='icon-after']) svg {
  margin-inline-start: var(--s-3xs);
  vertical-align: middle;
}

:host .ecl-link:not(.ecl-link--icon-only) ::slotted(ecl-icon[slot='icon-before']) svg {
  margin-inline-end: var(--s-3xs);
  vertical-align: middle;
}
