@use '@ecl/theme-eu';
@use '@ecl/vanilla-component-button/button-eu';
@use '@ecl/vanilla-component-link/link-eu';

:host ::slotted(ecl-icon[slot='icon-after']) svg {
  margin-inline-start: 0.5rem;
  vertical-align: text-top;
}

:host ::slotted(ecl-icon[slot='icon-before']) svg {
  margin-inline-end: 0.5rem;
  vertical-align: text-top;
}
