@use '@ecl/theme-ec';

@use '@ecl/vanilla-component-button/button-ec';
@use '@ecl/vanilla-component-link/link-ec';

.ecl-link .ecl-icon {
  vertical-align: middle;
}

.ecl-link__icon--after {
  margin-inline-start: 0.5rem !important;
}

.ecl-link__icon--before {
  margin-inline-end: 0.5rem !important;
}
