@use '@ecl/theme-eu';

@use '@ecl/vanilla-layout-grid/grid';
@use '@ecl/vanilla-component-site-footer/site-footer-eu';

.ecl-site-footer__logo-link.sc-ecl-footer-ec {
  margin-bottom: 1rem;
  width: 100%;
}

.ecl-site-footer--standardised .ecl-site-footer--split-columns.sc-ecl-footer-eu .ecl-site-footer__column.sc-ecl-footer-eu:last-child {
  grid-column-end: 0;
  grid-column-start: 0;
}
