@use '@ecl/theme-ec/theme' as theme;
@use '@ecl/theme-ec/variables' as var;
@use '@ecl/grid/mixins/breakpoints' with (
  $theme: theme.$theme
);
@use '@ecl/card/card' with (
  $theme: theme.$theme,
  $card: var.$card
);
