@use '@ecl/theme-eu/theme' as theme;
@use '@ecl/theme-eu/variables' as var;
@use '@ecl/grid/grid' with (
  $theme: theme.$theme
);
@use '@ecl/layout-form/mixins' as layoutFormMixins;
@use '@ecl/mixins-typography/mixins' as typographyMixins with (
  $typography: var.$typography
);
@use '@ecl/datepicker/datepicker' with (
  $theme: theme.$theme,
  $datepicker: var.$datepicker,
  $text-input: var.$text-input
);

.ecl-form-group .ecl-datepicker {
  margin-top: 0.75rem;
}
