@use '@ecl/theme-eu';

@use '@ecl/vanilla-component-button/button-eu';
@use '@ecl/vanilla-component-checkbox/checkbox-eu';
@use '@ecl/vanilla-component-text-input/text-input-eu';
@use '@ecl/vanilla-component-radio/radio-eu';
@use '@ecl/vanilla-component-file-upload/file-upload-eu';

.ecl-input.sc-ecl-input-eu {
  margin-top: 0.75rem;
}

.ecl-checkbox__icon.sc-ecl-input-eu {
  fill: white !important;
  vertical-align: middle;
}

.ecl-range__value-current.sc-ecl-input-eu {
  margin-inline-start: 0.25rem;
  margin-top: 0.625rem;
}
