@use '@ecl/theme-ec/theme' as theme;
@use '@ecl/theme-ec/variables' as var;
@use '@ecl/grid/grid' with (
  $theme: theme.$theme
);
@use '@ecl/layout-form/mixins' as layoutFormMixins;
@use '@ecl/mixins-typography/mixins' as typographyMixins with (
  $typography: var.$typography
);
@use '@ecl/button/button' with (
  $theme: theme.$theme,
  $button: var.$button
);
@use '@ecl/checkbox/checkbox' with (
  $theme: theme.$theme,
  $checkbox: var.$checkbox
);
@use '@ecl/text-input/text-input' with (
  $theme: theme.$theme,
  $text-input: var.$text-input
);
@use '@ecl/radio/radio' with (
  $theme: theme.$theme,
  $radio: var.$radio
);
@use '@ecl/file-upload/file-upload' with (
  $theme: theme.$theme,
  $file-upload: var.$file-upload
);

.ecl-checkbox__icon.sc-ecl-input-ec {
  fill: white !important;
  vertical-align: middle;
}

.ecl-range__value-current.sc-ecl-input-ec {
  margin-inline-start: 0.25rem;
  margin-top: 0.625rem;
}
