@use '@ecl/theme-ec';

@use '@ecl/vanilla-component-button/button-ec';
@use '@ecl/vanilla-component-checkbox/checkbox-ec';
@use '@ecl/vanilla-component-text-input/text-input-ec';
@use '@ecl/vanilla-component-radio/radio-ec';
@use '@ecl/vanilla-component-file-upload/file-upload-ec';

.ecl-input.sc-ecl-input-ec {
  margin-top: 0.75rem;
}

.ecl-checkbox__icon.sc-ecl-input-ec {
  fill: white !important;
  vertical-align: middle;
}

.ecl-range__value-current.sc-ecl-input-ec {
  margin-inline-start: 0.25rem;
  margin-top: 0.625rem;
}
