@use '@ecl/theme-eu/theme' as theme;
@use '@ecl/theme-eu/variables' as var;
@use '@ecl/grid/grid' with (
  $theme: theme.$theme
);
@use '@ecl/mixins-typography/mixins' with (
  $typography: var.$typography,
  $theme: theme.$theme
);
@use '@ecl/quiz/quiz' with (
  $theme: theme.$theme,
  $quiz: var.$quiz
);

.ecl-icon {
  vertical-align: middle;
}

@container (width >= 768px) {
  .ecl-quiz__viewport .ecl-quiz__list {
    gap: var(--s-l);
  }
}

@container (width >= 1140px) {
  .ecl-quiz__viewport .ecl-quiz__list {
    gap: var(--s-xl);
  }
}

@container (width >= 768px) {
  .ecl-quiz__viewport .ecl-quiz-card {
    width: calc(50% - var(--s-xl) / 2 - 3rem);
  }
}

@container (width >= 1140px) {
  .ecl-quiz__viewport .ecl-quiz-card {
    width: calc(33.3333% - var(--s-xl) * 2 / 3);
  }
}

@container (width >= 768px) {
  :host(.sc-ecl-quiz-eu-h) .ecl-quiz__pager.sc-ecl-quiz-eu .ecl-quiz__next.sc-ecl-quiz-eu .ecl-quiz__next-label.sc-ecl-quiz-eu,
  :host(.sc-ecl-quiz-eu-h) .ecl-quiz__pager.sc-ecl-quiz-eu .ecl-quiz__prev.sc-ecl-quiz-eu .ecl-quiz__prev-label.sc-ecl-quiz-eu {
    display: flex;
  }
}

@container (width >= 768px) {
  :host(.sc-ecl-quiz-eu-h) .ecl-quiz__pager.sc-ecl-quiz-eu .ecl-quiz__next.sc-ecl-quiz-eu,
  :host(.sc-ecl-quiz-eu-h) .ecl-quiz__pager.sc-ecl-quiz-eu .ecl-quiz__prev.sc-ecl-quiz-eu {
    border-radius: 4px;
    margin-inline: var(--s-2xl);
  }
}

.ecl-quiz-card__front:has(.ecl-picture),
.ecl-quiz-card__back:has(.ecl-picture) {
  .ecl-quiz-card__padded:has(.ecl-quiz-card__icon) {
    margin-top: calc(var(--s-4xl) * -1);
    padding-block-start: 0 !important;
  }
}

.ecl-quiz-card__back .ecl-quiz-card__icon svg {
  position: relative;
}

.ecl-quiz-card__answer {
  flex-direction: column;
}
