@use '@ecl/theme-ec/theme' as theme;
@use '@ecl/theme-ec/variables' as var;
@use '@ecl/grid/grid' with (
  $theme: theme.$theme
);
@use '@ecl/grid/mixins/breakpoints';
@use '@ecl/fact-figures/fact-figures' with (
  $theme: theme.$theme,
  $fact-figures: var.$fact-figures
);

:host {
  @extend .ecl-fact-figures__item;

  margin: 0;
  padding: 0;
}

.ecl-fact-figures__item.sc-ecl-fact-figures-item-ec:first-of-type {
  margin-top: var(--s-5xl);
}

.ecl-fact-figures__item.sc-ecl-fact-figures-item-ec.is-first {
  margin-top: 0;
}

.ecl-fact-figures__item--font-m .ecl-fact-figures__value {
  font: var(--f-2xl);
}

@include breakpoints.up('l') {
  .ecl-fact-figures__item.sc-ecl-fact-figures-item-ec:first-of-type {
    margin-top: 0;
  }

  .ecl-fact-figures__item--font-m .ecl-fact-figures__value {
    font: var(--f-3xl);
  }
}
