@use '@ecl/theme-eu/theme' as theme;
@use '@ecl/theme-eu/variables' as var;
@use '@ecl/grid/grid' with (
  $theme: theme.$theme
);
@use '@ecl/grid/mixins/breakpoints';
@use '@ecl/mixins-typography/mixins' with (
  $theme: theme.$theme,
  $typography: var.$typography
);
@use '@ecl/link/link' with (
  $theme: theme.$theme,
  $link: var.$link,
  $button: var.$button
);
@use '@ecl/fact-figures/fact-figures' with (
  $theme: theme.$theme,
  $fact-figures: var.$fact-figures
);

:host {
  @extend .ecl-fact-figures__item;

  margin: 0;
  padding: 0;
}
