@use '@ecl/theme-ec/theme' as theme;
@use '@ecl/theme-ec/variables' as var;
@use '@ecl/grid/grid' with (
  $theme: theme.$theme
);
@use '@ecl/social-media-follow/social-media-follow' with (
  $theme: theme.$theme,
  $social-media-follow: var.$social-media-follow
);
