@use '@ecl/theme-ec/theme' as theme;
@use '@ecl/theme-ec/variables' as var;
@use '@ecl/grid/grid' with (
  $theme: theme.$theme
);
@use '@ecl/mixins-typography/mixins' as typographyMixins with (
  $typography: var.$typography
);
@use '@ecl/modal/modal' with (
  $theme: theme.$theme,
  $modal: var.$modal
);
