@use '@ecl/theme-eu/theme' as theme;
@use '@ecl/theme-eu/variables' as var;
@use '@ecl/grid/grid' with (
  $theme: theme.$theme
);
@use '@ecl/mixins-typography/mixins' as typographyMixins with (
  $typography: var.$typography
);
@use '@ecl/link/link' with (
  $theme: theme.$theme,
  $link: var.$link,
  $button: var.$button
);
@use '@ecl/timeline/timeline' with (
  $theme: theme.$theme,
  $timeline: var.$timeline
);

.ecl-button__icon--after {
  margin-inline-start: 0.5rem !important;
  vertical-align: middle;
}

.ecl-timeline--has-headline .ecl-timeline-set .ecl-timeline:last-child .ecl-timeline__item:last-child::before,
.ecl-timeline--has-headline .ecl-timeline__item:not(.ecl-timeline-set *):last-child::before,
.ecl-timeline-set .ecl-timeline:last-child .ecl-timeline__item:last-child::before,
.ecl-timeline__item:not(.ecl-timeline-set *):last-child::before {
  height: 100%;
}

.ecl-timeline--has-headline .ecl-timeline-set .ecl-timeline:last-child .ecl-timeline__item.is-last::before,
.ecl-timeline--has-headline .ecl-timeline__item.is-last:not(.ecl-timeline-set *)::before,
.ecl-timeline-set .ecl-timeline.last-child .ecl-timeline__item.is-last::before,
.ecl-timeline__item.is-last:not(.ecl-timeline-set *)::before {
  height: 3rem;
}
