@use '@ecl/theme-ec/theme' as theme;
@use '@ecl/theme-ec/variables' as var;
@use '@ecl/grid/grid' with (
  $theme: theme.$theme
);
@use '@ecl/popover/popover' with (
  $theme: theme.$theme,
  $popover: var.$popover
);

:host {
  cursor: pointer;
  display: contents;
}

.ecl-popover__container {
  height: max-content;
}

.ecl-link--icon-before.sc-ecl-link-ec {
  display: flex;
}

.ecl-popover__toggle * {
  margin-inline-end: 0.5rem;
  vertical-align: middle;
}
