@use '@ecl/theme-ec/theme' as theme;
@use '@ecl/theme-ec/variables' as var;
@use '@ecl/grid/grid' with (
  $theme: theme.$theme
);
@use '@ecl/content-item/content-item' with (
  $theme: theme.$theme,
  $content-item: var.$content-item
);
