@use '@ecl/theme-ec/theme' as theme;
@use '@ecl/theme-ec/variables' as var;
@use '@ecl/grid/grid' with (
  $theme: theme.$theme
);
@use '@ecl/gallery/gallery' with (
  $theme: theme.$theme,
  $gallery: var.$gallery
);

.ecl-gallery__close-button,
.ecl-gallery__image-icon,
.ecl-gallery__download,
.ecl-gallery__share {
  color: #fff !important;
}

.ecl-gallery__close-button:hover {
  color: var(--cm-on-surface-brand) !important;
}

.ecl-gallery__slider-previous,
.ecl-gallery__slider-next {
  background: #fff;
  color: var(--cm-on-surface-brand);
}
