@use '@ecl/theme-eu/theme' as theme;
@use '@ecl/theme-eu/variables' as var;
@use '@ecl/grid/grid' with (
  $theme: theme.$theme
);
@use '@ecl/gallery/gallery' with (
  $theme: theme.$theme,
  $gallery: var.$gallery
);

.ecl-gallery {
  .ecl-gallery__close-button,
  .ecl-gallery__image-icon,
  .ecl-gallery__download,
  .ecl-gallery__share {
    color: #fff;
  }

  .ecl-gallery__close-button:hover {
    color: var(--c-d);
  }

  .ecl-gallery__slider-previous,
  .ecl-gallery__slider-next {
    background: #fff;
    color: var(--c-d);
  }
}

.ecl-gallery__footer.sc-ecl-gallery-eu {
  align-items: center;
}

.ecl-gallery__item-icon {
  color: var(--c-d-140);
}
