@use '@ecl/theme-eu';

@use '@ecl/vanilla-layout-grid/grid';
@use '@ecl/vanilla-component-gallery/gallery-eu';

.ecl-gallery__slider-previous,
.ecl-gallery__slider-next,
.ecl-gallery__close-button,
.ecl-gallery__image-icon,
.ecl-gallery__download,
.ecl-gallery__share {
  color: #fff !important;
}

@media screen and (width >= 1140px) {
  .ecl-gallery__slider-previous,
  .ecl-gallery__slider-next {
    background: rgba(0, 0, 0, 0.7) !important;

    .ecl-button__icon--after:only-child,
    .ecl-button__icon--before:only-child {
      margin-inline-end: 0 !important;
      margin-inline-start: 0 !important;
    }

    &:hover {
      background: #fff !important;
    }
  }
}

.ecl-gallery__footer.sc-ecl-gallery-eu {
  align-items: center;
}

.ecl-gallery__share.sc-ecl-gallery-eu {
  margin-inline-start: 0.75rem !important;
}

.ecl-gallery__view-all.sc-ecl-gallery-eu {
  margin-top: -0.75rem !important;
}
