@use '@ecl/theme-ec/theme' as theme;
@use '@ecl/theme-ec/variables' as var;
@use '@ecl/grid/grid' with (
  $theme: theme.$theme
);
@use '@ecl/description-list/description-list' with (
  $theme: theme.$theme,
  $description-list: var.$description-list
);

.ecl-description-list__term.sc-ecl-description-list-ec:first-child {
  margin-top: var(--s-xl);
}

.ecl-description-list__term:first-child.is-first {
  margin-top: 0;
}

.ecl-link--icon-before .ecl-icon {
  margin-inline-end: 0.5rem !important;
}

.ecl-description-list--horizontal.sc-ecl-description-list-ec .ecl-description-list__term.sc-ecl-description-list-ec,
.ecl-description-list--horizontal.sc-ecl-description-list-ec .ecl-description-list__definition.sc-ecl-description-list-ec {
  margin-top: var(--s-l);
}
