@use '@ecl/theme-eu/theme' as theme;
@use '@ecl/theme-eu/variables' as var;
@use '@ecl/grid/grid' with (
  $theme: theme.$theme
);
@use '@ecl/description-list/description-list' with (
  $theme: theme.$theme,
  $description-list: var.$description-list
);

.ecl-description-list__term.sc-ecl-description-list-eu:first-child {
  margin-top: 1.5rem;
}

.ecl-description-list__term.is-first {
  margin-top: 0;
}

.ecl-link--icon-before .ecl-icon {
  margin-inline-end: 0.5rem !important;
}

.ecl-description-list--horizontal.sc-ecl-description-list-eu .ecl-description-list__term.sc-ecl-description-list-eu,
.ecl-description-list--horizontal.sc-ecl-description-list-eu .ecl-description-list__definition.sc-ecl-description-list-eu {
  margin-top: 1rem;
}

.ecl-description-list__definition--inline.sc-ecl-description-list-eu .ecl-description-list__definition-item.sc-ecl-description-list-eu:last-child {
  border-inline-end: 1px solid #404040;
  margin-inline-end: 0.5rem;
  padding-inline-end: 0.5rem;
}
