@use '@ecl/theme-eu';

@use '@ecl/vanilla-component-description-list/description-list-eu';

.ecl-description-list__term.sc-ecl-description-list-eu:first-child {
  margin-top: 1rem;
}

.ecl-link--icon-before .ecl-icon {
  margin-inline-end: 0.5rem !important;
}

.ecl-description-list--horizontal.sc-ecl-description-list-eu .ecl-description-list__term.sc-ecl-description-list-eu,
.ecl-description-list--horizontal.sc-ecl-description-list-eu .ecl-description-list__definition.sc-ecl-description-list-eu {
  margin-top: 1rem;
}

.ecl-description-list__definition--inline.sc-ecl-description-list-eu .ecl-description-list__definition-item.sc-ecl-description-list-eu:last-child {
  border-inline-end: 1px solid #404040;
  margin-inline-end: 0.5rem;
  padding-inline-end: 0.5rem;
}
