@use '@ecl/theme-eu/theme' as theme;
@use '@ecl/theme-eu/variables' as var;
@use '@ecl/grid/grid' with (
  $theme: theme.$theme
);
@use '@ecl/layout-form/mixins' as layoutFormMixins with (
  $theme: theme.$theme
);
@use '@ecl/checkbox/checkbox' with (
  $theme: theme.$theme,
  $checkbox: var.$checkbox
);
@use '@ecl/text-input/text-input' with (
  $theme: theme.$theme,
  $text-input: var.$text-input
);
@use '@ecl/select/select' with (
  $theme: theme.$theme,
  $select: var.$select
);

.ecl-button--icon-only.sc-ecl-button-eu .ecl-button__icon.sc-ecl-button-eu {
  height: 1.125rem;
  width: 1.125rem;
}

.ecl-select__container {
  margin-top: 0.75rem;
}

.ecl-select__multiple .ecl-select__multiple-dropdown {
  margin-top: 0;
}

.ecl-select__icon-shape.sc-ecl-select-eu {
  fill: white !important;
  vertical-align: middle;
}
