:host {
  display: block;
}

ecl-icon:first-child {
  display: block !important;
}

ecl-icon:last-child {
  display: none !important;
}

.ecl-accordion__item[open] {
  ecl-icon:first-child {
    display: none !important;
  }

  ecl-icon:last-child {
    display: block !important;
  }
}
