@use '@ecl/theme-eu/theme' as theme;
@use '@ecl/theme-eu/variables' as var;
@use '@ecl/grid/grid' with (
  $theme: theme.$theme
);
@use '@ecl/icon/icon' with (
  $theme: theme.$theme
);
@use '@ecl/button/button' with (
  $theme: theme.$theme,
  $button: var.$button
);
@use '@ecl/accordion/accordion' with (
  $theme: theme.$theme,
  $accordion: var.$accordion
);

:host {
  @extend .ecl-accordion;

  display: block;
  visibility: visible;
}
