@use '@ecl/theme-eu/theme' as theme;
@use '@ecl/theme-eu/variables' as var;
@use '@ecl/grid/grid' with (
  $theme: theme.$theme
);
@use '@ecl/mixins-typography/mixins' with (
  $theme: theme.$theme,
  $typography: var.$typography
);
@use '@ecl/form-group/form-group' with (
  $theme: theme.$theme,
  $form-group: var.$form-group
);

.ecl-feedback-message__icon.sc-ecl-form-group-eu {
  vertical-align: bottom;
}
