@use '@ecl/theme-eu/theme' as theme;
@use '@ecl/theme-eu/variables' as var;
@use '@ecl/grid/grid' with (
  $theme: theme.$theme
);
@use '@ecl/rating-field/rating-field' with (
  $theme: theme.$theme,
  $rating-field: var.$rating-field
);

.ecl-rating-field__icon-filled[class*='wt-icon-'] {
  display: none;
}

.ecl-rating-field__label .ecl-rating-field__icon-filled {
  display: none;
}

.ecl-rating-field__label.is-filled {
  .ecl-rating-field__icon-filled {
    display: inline-block;
  }

  .ecl-rating-field__icon-outline {
    display: none;
  }
}
