@use '@ecl/theme-eu/theme' as theme;
@use '@ecl/theme-eu/variables' as var;
@use '@ecl/grid/grid' with (
  $theme: theme.$theme
);
@use '@ecl/file/file' with (
  $theme: theme.$theme,
  $file: var.$file
);

.ecl-file__icon {
  fill: #0e47cb !important;
}

.ecl-file__taxonomy * {
  margin-top: 0 !important;
}

.ecl-file__container > *:first-child {
  align-self: start !important;
}

.ecl-link__icon--after {
  margin-inline-start: 0.5rem !important;
}

.ecl-file__translation-container > *:first-child {
  align-self: flex-end;
}

.ecl-link--icon-after .ecl-icon.sc-ecl-icon-eu {
  margin-inline-start: 0.5rem;
}

.ecl-file__description {
  white-space: normal;
}
