@use '@ecl/theme-eu';
@use '@ecl/vanilla-component-file/file-eu';

.ecl-file__icon {
  fill: #0e47cb !important;
}

.ecl-file__taxonomy * {
  margin-top: 0 !important;
}

.ecl-file__container > *:first-child {
  align-self: start !important;
}

.ecl-link__icon--after {
  margin-inline-start: 0.5rem !important;
}

.ecl-file__translation-container > *:first-child {
  align-self: flex-end;
}

.ecl-link--icon-after .ecl-icon.sc-ecl-icon-eu {
  margin-inline-start: 0.5rem;
}

.ecl-file .ecl-button.ecl-file__translation-toggle {
  border: 2px solid #0e47cb;
  margin: 0.75rem -1rem 0.75rem 0;
}

.ecl-file__description {
  white-space: normal;
}
