@use '@ecl/theme-ec/theme' as theme;
@use '@ecl/theme-ec/variables' as var;
@use '@ecl/grid/grid' with (
  $theme: theme.$theme
);
@use '@ecl/file/file' with (
  $theme: theme.$theme,
  $file: var.$file
);

.ecl-link__icon--after .ecl-link__icon {
  margin-inline-start: 0.5rem !important;
}

.ecl-file__description {
  white-space: normal;
}

.ecl-file__taxonomy * {
  margin-top: 0 !important;
}
