@use '@ecl/theme-ec';

@use '@ecl/vanilla-component-file/file-ec';

.ecl-file__icon {
  fill: #9f9f9f !important;
}

.ecl-link__icon--after .ecl-link__icon {
  margin-inline-start: 0.5rem !important;
}

.ecl-file .ecl-button.ecl-file__translation-toggle {
  margin: 0.25rem -1rem 0.25rem 0;
}

.ecl-file__description {
  white-space: normal;
}

.ecl-file__taxonomy * {
  margin-top: 0 !important;
}
