@use '@ecl/theme-ec/theme' as theme;
@use '@ecl/theme-ec/variables' as var;
@use '@ecl/grid/grid' with (
  $theme: theme.$theme
);
@use '@ecl/mixins-typography/mixins' with (
  $theme: theme.$theme,
  $typography: var.$typography
);
@use '@ecl/page-header/page-header-ec' with (
  $theme: theme.$theme,
  $page-header: var.$page-header
);

.ecl-page-header-expandable__toggle {
  color: var(--cm-on-surface-brand);

  &:hover {
    border-color: var(--cm-on-surface-brand);
    color: var(--cm-on-surface-brand);
  }
}

.ecl-page-header--50-50 {
  .ecl-page-header__background-container {
    display: flex;
    flex-basis: 50%;
  }

  ecl-picture {
    display: initial;
  }
}
