@use '@ecl/theme-eu/theme' as theme;
@use '@ecl/theme-eu/variables' as var;
@use '@ecl/grid/grid' with (
  $theme: theme.$theme
);
@use '@ecl/search-form/search-form' with (
  $theme: theme.$theme,
  $search-form: var.$search-form
);

.ecl-search-form__text-input {
  height: 2.875rem;
}

.ecl-search-form__button .ecl-icon {
  height: 1.125rem;
  width: 1.125rem;
}
