@use '@ecl/theme-eu/theme' as theme;
@use '@ecl/theme-eu/variables' as var;
@use '@ecl/grid/grid' with (
  $theme: theme.$theme
);
@use '@ecl/media-container/media-container' with (
  $theme: theme.$theme,
  $media-container: var.$media-container
);

.ecl-media-container__expandable.sc-ecl-media-container-eu.ecl-expandable.sc-ecl-expandable-eu {
  margin-top: 0.5rem;
}
