@use '@ecl/theme-ec/theme' as theme;
@use '@ecl/theme-ec/variables' as var;
@use '@ecl/grid/grid' with (
  $theme: theme.$theme
);
@use '@ecl/breadcrumb/breadcrumb' with (
  $theme: theme.$theme,
  $breadcrumb: var.$breadcrumb
);
