@use '@ecl/theme-ec/theme' as theme;
@use '@ecl/theme-ec/variables' as var;
@use '@ecl/grid/grid' with (
  $theme: theme.$theme
);
@use '@ecl/breadcrumb/breadcrumb' with (
  $theme: theme.$theme,
  $breadcrumb: var.$breadcrumb
);

.ecl-breadcrumb__segment ::slotted([slot='icon-after']) {
  display: flex;
  align-items: center;
}

.ecl-breadcrumb__segment .ecl-breadcrumb__link.sc-ecl-breadcrumb-ec {
  vertical-align: top;
}
