@use '@ecl/theme-eu/theme' as theme;
@use '@ecl/theme-eu/variables' as var;
@use '@ecl/grid/grid' with (
  $theme: theme.$theme
);
@use '@ecl/button/button' with (
  $theme: theme.$theme,
  $button: var.$button
);
@use '@ecl/breadcrumb/breadcrumb' with (
  $theme: theme.$theme,
  $breadcrumb: var.$breadcrumb
);

.ecl-breadcrumb__segment .ecl-breadcrumb__icon {
  margin-top: -8px;
}

.ecl-breadcrumb__current-page {
  margin-top: 8px;
}

.ecl-breadcrumb__ellipsis {
  background-color: var(--c-p-5) !important;
  display: flex !important;
  justify-content: center;
  margin-top: -8px !important;
}
