@use '@ecl/theme-eu';
@use '@ecl/vanilla-component-breadcrumb/breadcrumb-eu';

.ecl-breadcrumb__icon.sc-ecl-breadcrumb-eu {
  margin-inline-end: 0.5rem !important;
}

.ecl-breadcrumb__ellipsis.sc-ecl-breadcrumb-eu {
  padding: 0 !important;
}

.ecl-breadcrumb__ellipsis .ecl-icon {
  margin-inline-start: 0.5rem !important;
}
