@use '@ecl/theme-ec';

@use '@ecl/vanilla-component-message/message-ec';

ecl-button {
  grid-column-start: 2;
  grid-row-start: 1;
}

.ecl-message__icon.sc-ecl-icon-ec {
  margin-inline-end: 1rem;
}

.ecl-message__close * {
  display: inline-flex;
  margin-inline-start: 0.5rem;
}
