@use '@ecl/theme-ec';

@use '@ecl/vanilla-component-category-filter/category-filter-ec';

.ecl-category-filter__item-icon.sc-ecl-category-filter-ec {
  margin: -3px 0 !important;
}

.ecl-category-filter__list-item.sc-ecl-category-filter-ec {
  border-bottom: 1px solid #e3e3e3;

  .ecl-category-filter__list-item {
    border: none;
  }
}
