@use '@ecl/theme-eu/theme' as theme;
@use '@ecl/theme-eu/variables' as var;
@use '@ecl/grid/grid' with (
  $theme: theme.$theme
);
@use '@ecl/list-illustration/list-illustration' with (
  $theme: theme.$theme,
  $list-illustration: var.$list-illustration
);
