@use '@ecl/theme-ec/theme' as theme;
@use '@ecl/theme-ec/variables' as var;
@use '@ecl/grid/grid' with (
  $theme: theme.$theme
);
@use '@ecl/mixins-typography/mixins' as typographyMixins with (
  $typography: var.$typography
);
@use '@ecl/list-illustration/list-illustration' with (
  $theme: theme.$theme,
  $list-illustration: var.$list-illustration
);

.ecl-list-illustration__icon.sc-ecl-list-illustration-ec {
  margin-bottom: var(--s-s);
}
